PORT =
DB_URL =
NODE_ENV =
# jst token 
JWT_ACCESS_SECRET  = 
JWT_REFRESH_SECRET = 
JWT_EXPIRES_IN=
JWT_REFRESH_EXPIRES =
# BYCRYPT 
BYCRYPT_SALT_ROUNT = 
# SUPER ADMIN
SUPER_ADMIN_EMAIL = 
SUPER_ADMIN_PASSWORD = 